body {
  background-color: #11052C;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
